Таблица

In [2]:
import pandas as pd

# Создание DataFrame
df = pd.DataFrame({
    'Имя': ['Иван', 'Мария', 'Петр', 'Анна', 'Ольга'],
    'Возраст': [25, 34, 17, 42, 29],
    'Город': ['Москва', 'Санкт-Петербург', 'Москва', 'Казань', 'Москва'],
    'Зарплата': [85000, 90000, 60000, 110000, 95000]
})

print(df)

     Имя  Возраст            Город  Зарплата
0   Иван       25           Москва     85000
1  Мария       34  Санкт-Петербург     90000
2   Петр       17           Москва     60000
3   Анна       42           Казань    110000
4  Ольга       29           Москва     95000

1. Страше 18

In [3]:
older_18 = df[(df['Возраст']) > 18]
print(older_18)

     Имя  Возраст            Город  Зарплата
0   Иван       25           Москва     85000
1  Мария       34  Санкт-Петербург     90000
3   Анна       42           Казань    110000
4  Ольга       29           Москва     95000

2. Среднее значение зарплаты по городу

In [8]:
avg_salary_by_city = df.groupby('Город')['Зарплата'].mean()
print(avg_salary_by_city)

Город
Казань             110000.0
Москва              80000.0
Санкт-Петербург     90000.0
Name: Зарплата, dtype: float64

3. Объедини таблицы “пользователи” и “города”

In [41]:
new = df[['Имя', 'Город']]
print(new)

     Имя            Город
0   Иван           Москва
1  Мария  Санкт-Петербург
2   Петр           Москва
3   Анна           Казань
4  Ольга           Москва